@font-face {
  font-family: "myFirstFont";
  src: url("./triforce-webfont.woff2");
}


.App {
  text-align: center;
  background-color: #ffc07a;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.small{
  font: bold 9px sans-serif;
  font-family: myFirstFont;
  letter-spacing: 0.1em;
}
.image {
  height: 72px;
  width: 72px;
background: 
url("./bushSprite.png") -560px -71px;
background-size: 2000% 910%;

}

.container {
  width:50%;
  height:50%;
  }

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
#flexTop{
  display:flex;
  justify-content: space-around;
  top:0px;
}
.App-header {
  
  
  
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  background-size: 100% 200%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
